body {
	background: rgb(217, 218, 208);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
	padding: 0;
	overflow: hidden; /*zapytać o to*/
}
#wrapper {
	display: flex;
	align-content: center;
	margin: 2.5%;
	height: 95%;
	/* border: 10px red solid; */
}
.back {
	position: fixed;
	background: whitesmoke;
	border-radius: 50px;
	align-self: center;
	z-index: -1;
	height: 95%;
	width: 95%;
}
.content {
	box-sizing: border-box;
	overflow: auto;
	border-radius: 50px;
	height: 95vh;
	margin: 0;
}
header {
	display: flex;
	justify-content: center;
	padding-top: 5%;
}
header > img {
	margin-top: 10px;
	width: 100px;
}
ul {
	padding-inline-start: 0px;
	list-style-type: none;
}
li {
	margin-top: 0.5em;
	text-align: center;
	font-size: 30px;
}
a {
	text-decoration: none;
	color: rgb(172, 164, 164);
	font-weight: bold;
	white-space: nowrap;
	text-shadow: 1px 1px rgb(186, 186, 186);
}
a:hover {
	color: rgb(213, 70, 70);
}
.button {
	display: inline-block;
	color: whitesmoke;
	white-space: nowrap;
	background: rgb(213, 70, 70);
	padding: 20px;
	border-radius: 5px;
}
.button:hover {
	background: rgb(172, 164, 164);
}
.text {
	padding: 5%;
}
h4 {
	text-align: justify;
}
h1 > span {
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-shadow: 2px 2px 0 rgb(208, 202, 202), 4px 4px 2px rgb(216, 120, 120);
	color: rgb(213, 70, 70);
}
#lego1,
#video {
	display: none;
}
footer {
	padding: 1em;
	background: rgb(213, 70, 70);
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}
#end {
	display: flex;
	flex-direction: column;
}
#end > div {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	align-items: flex-start;
	padding: 4%;
}
.small {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 50px;
}

.small > h4 {
	padding-left: 10px;
}
footer > div > p {
	text-align: justify;
	align-self: flex-start;
}
.lego-pic {
	height: 10vh;
}
/* My RWD on tablet*/
@media screen and (min-width: 768px) {
	.content {
		/* border: blue 2px solid; */
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	header >img {
		width: 150px;
	}
	ul {
		display: flex;
		align-items: center;
	}
	nav > ul {
		margin: 0 5%;
	}
	li {
		font-size: 25px;
		margin-top: 0;
		margin-right: 5%;
	}
	a {
		display: flex;
	}
	.button-order {
		flex: 3;
	}
	br {
		display: none;
	}
	.text {
		display: flex;
		padding: 0px 33px;
	}
	#lego1 {
		display: inherit;
		box-sizing: border-box;
		align-self: center;
		padding: 5%;
		height: 35vh;
	}
	#video {
		display: inherit;
		width: 30px;
		margin-right: 5px;
	}
	#end {
		display: flex;
		flex-direction: row;
	}
	#end > div {
		padding: 15px;
		flex: 1;
	}
	.lego-pic {
		height: 50px;
	}
}
@media screen and (min-width: 992px) {
	.content {
		/* border: blue 2px solid; */
		border-radius: 100px;
	}
	.back {
		border-radius: 100px;
	}
	#navigation {
		display: flex;
		justify-content: center;
		padding: 5% 10% 0 10%;
	}
	nav {
		display: flex;
		align-self: center;
		flex: 3;
	}
	header {
		display: flex;
		justify-content: center;
		flex:1;
		padding:0;
	}
	header > img {
		align-self: center;
		margin: 0;
		width: 100px;
	}
	ul {
		display: flex;;
		flex:1;
	}
	li {
		flex:1;
		font-size: 20px;;
	}
	.button-order {
		flex: 4;
		margin: 0
	}
	#text2 {
		padding: 5% 0 0 10%;
	}
	#lego1 {
		height: 75%;
		padding-top: 0;
	}
	footer {
		border-bottom-left-radius: 100px;
		border-bottom-right-radius: 100px;
	#end {
		padding:0 10%;
	}
}